.cardInfo {
    background-color:white;
    border: 2px solid gold;
    width:300px;
    float:left;
    padding:10px;
    margin:100px 10px 10px 10px;
}

button {
    width:100%;
    background-color:gold;
    border:none;
    padding: 5px 0px 5px 0px;
    color:white;
}

body {
    background-color:rgb(243, 239, 199);

}

#nav {
    background-color:gold;
    padding: 10px;
    width: 98%;
    position:fixed;
    height:20px;
    color:white;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}


p {
    padding:10px;
}



.main {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
}



h4 {
    margin-block-end:0px;
    margin-block-start:0px;
}